.vscode/**
.vscode-test/**
out/test/**
test/**
source/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
images/multi-encode.1024.png
images/multi-encode.ico
.history/**
tslint.json
desktop.ini
